<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button>
                <i class="fas fa-thin fa-arrow-left fa-2xl ml-1"></i>
            </button>
        </div>
        <div class="navbar-center">
            <i class="fa-solid fa-location-dot fa-2xl" style="color: #1960ef;"></i>
            <span class="ml-2 text-xl">
          모임 생성
        </span>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full bg-blue-50">
        <div class="m-10">
            <div>
                <span>모임이름</span>
                <input required type="text" placeholder="모임이름을 정해주세요." class="border-b-2 font-gsans focus:outline-none text-center text-l ml-32">
            </div>

            <div class="mt-2">
                <span>모임설명</span>
                <div class="text-center">
                    <textarea required placeholder="모임의 내용을 적어주세요." class="font-gsans text-l"></textarea>
                </div>
            </div>

            <div class="mt-2">
                <span>모임장소</span>
                <input type="text" placeholder="모임의 장소를 입력해주세요. (선택)" class="border-b-2 font-gsans focus:outline-none text-center text-l w-1/2 ml-20">

            </div>

            <div class="mt-2">
                <span>선택 가능 모임 날짜</span>
                <div class="text-center">
                    <input type="date" value="2023/05/29">
                    <span>부터</span>
                    <input type="date">
                    <span>까지</span>
                </div>
            </div>

            <div class="mt-2">
                <span>모임 진행 시간</span>
                <div class="text-center">
                    <select class="w-1/12 text-end">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <span>시간</span>
                    <select class="w-1/12 text-end">
                        <option></option>
                        <option>0</option>
                        <option>15</option>
                        <option>30</option>
                        <option>45</option>
                    </select>
                    <span>분 동안 진행</span>
                </div>
            </div>

            <div class="mt-2">
                <span>선택 가능 시간 제한</span>
                <div class="text-center">
                    <span>시작 시간</span>
                    <input type="time">
                    <span>끝나는 시간</span>
                    <input type="time">
                </div>
            </div>

            <div class="mt-2">
                <span>마감 기한</span>
                <input type="datetime-local" placeholder="yy:MM:dd hh:mm까지" class="ml-24">
            </div>

            <div class="text-center">
                <button class="room-btn mt-20">생성하기</button>
            </div>
        </div>
    </div>
</main>

</body>
</html>