<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
  <div class="navbar max-w-2xl mx-auto bg-base-100">
    <div class="navbar-start text-2xl font-gsans m-5">
      <a href="/" class="flex">
        <img width="35" src="https://img.icons8.com/external-flat-lima-studio/64/external-block-toys-flat-lima-studio-2.png" alt="external-block-toys-flat-lima-studio-2"/>
        <div class="ml-2 mt-1">MOIZA</div>
      </a>
    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-end">
    </div>
  </div>
</header>

<main layout:fragment="main" class="flex-grow flex justify-center">
  <div class="max-w-2xl w-[60%] h-[35rem] mt-20 flex justify-center mainsub-img">
    <div class="flex flex-col items-center justify-center">
      <div class="text-white text-4xl mb-3 text-shadow">MOIZA</div>
      <div class="font-gsans text-center text-white text-xl">
        <div>잘못된 사용자 요청이에요!</div>
      </div>
    </div>
  </div>
</main>

<footer layout:fragment="footer" class="hidden"></footer>
</body>
</html>