<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button>
                <i class="fas fa-thin fa-arrow-left fa-2xl ml-1"></i>
            </button>
        </div>
        <div class="navbar-center">
        <span class="text-2xl">
          투표 및 현황
        </span>
        </div>
        <div class="navbar-end">
            <button>마감하기</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        /*<![CDATA[*/
        let roomId = [[${roomId}]];
        /*]]>*/

        let stompClient = null;

        let curSlice;
    </script>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full bg-blue-50">
        <div class="text">
            <div class="title">모임이름</div>
            <div class="font-gsans w-56 flex justify-center text-2xl">서울 벙개</div>
        </div>

        <div class="chat-box flex flex-col mx-12 pt-2.5">
            <table>
                <button onclick="getMoreChats()">더 불러오기</button>
                <tbody id="chats">
                <!-- 채팅내용 -->
                </tbody>
            </table>
            <div class="flex-grow"></div>
            <div class="chat-input p-2.5">
                <form>
                    <input type="text" class="p-1 font-gsans" id="content" placeholder=" 내용 입력 후 Enter"/>
                    <button type="submit" id="send">입력</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            connect();
            $('form').on('submit', e => e.preventDefault());
            $('#send').click(() => send());
            getChats(0);
        })

        function connect() {
            let socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, () => {

                stompClient.subscribe(`/room/${roomId}`, chat => show(chat));

            });
        }

        function send() {
            stompClient.send(`/send/${roomId}`, {}, $('#content').val());
        }

        function show(chat) {
            let parsed = JSON.parse(chat.body);
            $('#chats').append(`<tr><td>${parsed.writer}:${parsed.content}</td></tr>`);
        }

        function getMoreChats() {
            if (!curSlice.last) {
                getChats(curSlice.pageable.pageNumber+1);
            }
        }

        function getChats(page) {
            $.ajax({
                url: `/chats?roomId=${roomId}`,
                type: 'GET',
                data: {
                    page: page
                },
                success: function(slice) {
                    curSlice = slice;
                    slice.content.forEach(chat=>$('#chats').prepend(`<tr><td>${chat.writer}:${chat.content}</td></tr>`));
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error(textStatus, errorThrown);
                }
            });
        }

    </script>
</main>

<footer layout:fragment="footer">
    <a th:href="@{|/room/${room.id}/date|}"><i class="far fa-thin fa-clock text-slate-300 hover:text-sky-600"></i></a>
    <a th:href="@{|/room/${room.id}/place|}"><i
            class="far fa-solid fa-location-dot text-slate-300 hover:text-sky-600"></i></a>
    <a href=""><i class="far fa-thin fa-comments text-sky-600"></i></a>
</footer>
</body>

</html>