<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button>
                <i class="fas fa-thin fa-arrow-left fa-2xl ml-1"></i>
            </button>
        </div>
        <div class="navbar-center">
        <span class="text-2xl">
          투표 및 현황
        </span>
        </div>
        <div class="navbar-end">
            <button>마감하기</button>
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full bg-blue-50">

        <div class="text">
            <div class="title">모임이름</div>
            <div class="font-gsans w-56 flex justify-center text-2xl" th:text="${room.name}">서울 벙개</div>
        </div>

        <div class="date-rank">

            <div class="text-center m-2 text-xl">
                날짜 현황
            </div>

            <div class="rank-1th content">
                <span class="rank-one text-bold">1위</span>
                <span class="rank-content font-gsans">
            <div class="date">2023년 6월 3일 토요일</div>
            <div class="ml-10">03:00 PM ~ 05:00 PM</div>
          </span>
                <span>
            <div class="people-number">3명 / 7명</div>
          </span>
            </div>

            <div class="rank-nth">

                <div class="rank-content-other font-gsans">
                    <div class="rank-n mb-2 text-bold">2위</div>
                    <div>2023년 6월 3일 토요일</div>
                    <div>04:00 PM ~ 06:00 PM</div>
                    <div class="mt-2">2명 / 7명</div>
                </div>

                <div class="rank-content-other font-gsans">
                </div>

            </div>

        </div>

        <div class="participate-status font-bold content">
            <div class="my-2">참여 멤버</div>
            <div class="m-2">프로필 사진</div>
            <div class="my-2">참여 불가능 멤버</div>
            <div class="m-2">프로필 사진</div>
        </div>

    </div>
</main>

</body>

<footer layout:fragment="footer">
    <a href=""><i class="far fa-thin fa-clock text-sky-600"></i></a>
    <a th:href="@{|/room/${room.id}/place|}"><i class="far fa-solid fa-location-dot text-slate-300 hover:text-sky-600"></i></a>
    <a th:href="@{|/room/${room.id}/chat|}"><i class="far fa-thin fa-comments hover:text-sky-600 text-slate-300"></i></a>
</footer>

</html>