<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button class="ml-4" onclick="location.href='/groups'">
                Home
            </button>
        </div>
        <div class="navbar-center">
        <span class="text-2xl">
          투표 및 현황
        </span>
        </div>
        <div class="navbar-end">
            <a id="close-btn" href="javascript:" th:if="${room.getLeader() == actor}" onclick="$(this).next().submit();" class="flex items-center justify-center">마감하기</a>
            <form hidden th:action="@{|/room/${room.id}/close|}" method="POST">
            </form>
        </div>
    </div>
    <script>
        /*<![CDATA[*/
        let calculatorUrl = '[[${calculatorUrl}]]';
        /*]]>*/
    </script>

    <script th:inline="javascript">
        const token = /*[[${_csrf.token}]]*/ '';
    </script>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full bg-blue-50">

        <div class="text">
            <div class="title">모임이름</div>
            <div class="font-gsans w-1/2 flex justify-center text-2xl" th:text="${room.name}"></div>
        </div>

        <div class="date-rank">

            <div class="flex justify-around items-center m-2 w-full">
                <a th:href="@{|/room/${room.id}/changeTime|}" class="hover-pointer">
                    <i class="far fa-light fa-pen-to-square"></i>
                </a>
                <div class="text-center text-xl mr-2">
                    날짜 현황
                </div>
                <a href="#" onclick="getSelectedTimes();" class="hover-pointer">
                    <i class="far fa-solid fa-rotate-right"></i>
                </a>
            </div>

            <div id="app">
                <div th:replace="~{status/times :: times}">
                </div>
            </div>
        </div>

        <div class="font-bold attend-status" id="members">
            <div class="flex justify-center">
                시간을 선택하면 멤버들의 참여 여부를 확인 할 수 있습니다.
            </div>
        </div>
    </div>
    <script>
        function showAllMembers(idx){
            const time = times[idx];
            console.log(time)
            console.log(roomId)
            $('#members').empty();
            $('#members').append(`
                <div>
                    <div class="mb-2">참여 멤버</div>
                    <ul class="flex justify-center">
                        ${showMembers(time.participationMembers)}
                    </ul>
                </div>

                ${time.nonParticipationMembers.length > 0 ?
                `<div>
                <div class="mb-2">참여 불가능 멤버</div>
                <ul class="flex justify-center">
                    ${showMembers(time.nonParticipationMembers)}
                </ul>
                </div>

                <form method="post" action="/room/${roomId}/date" class="relative">
                    <input type="hidden" name="_csrf" value="${token}">
                    <input type="hidden" value="${time.start}" name="start">
                    <input type="hidden" value="${time.end}" name="end">
                    <input type="hidden" value="${time.date}" name="day">
                    <button class="btn absolute bottom--1 right-0">참여 변경</button>
                </form>`
                    : `<div>
                        <div class="mb-2">참여 불가능 멤버</div>
                        <ul class="flex justify-center">
                            ${showMembers(time.nonParticipationMembers)}
                        </ul>
                        </div>`
                }
            `);
        }


        function showMembers(members) {
            let membersHTML = '';
            members.forEach(member=>membersHTML += `
                <li class="mr-2 flex flex-col items-center justify-center">
                    <div><img src="${member.profile}" width="50" class="mask mask-circle" style="z-index: 0"></div>
                    <div class="text-center">${member.name}</div>
                </li>
            `);
            return membersHTML;
        }
    </script>
</main>

</body>

<footer layout:fragment="footer">
    <a href=""><i class="far fa-thin fa-clock text-sky-600"></i></a>
    <a th:href="@{|/room/${room.id}/place|}"><i class="far fa-solid fa-location-dot text-slate-300 hover:text-sky-600"></i></a>
    <a th:href="@{|/room/${room.id}/chat|}"><i class="far fa-thin fa-comments hover:text-sky-600 text-slate-300"></i></a>
</footer>

</html>