<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">
</head>

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button class="ml-4" onclick="location.href='/groups'">
                Home
            </button>
        </div>
        <div class="navbar-center">
        <span class="text-2xl">
          투표 및 현황
        </span>
        </div>
        <div class="navbar-end">
            <a id="close-btn" href="javascript:" th:if="${room.getLeader() == actor}" onclick="$(this).next().submit();" class="flex items-center justify-center">마감하기</a>
            <form hidden th:action="@{|/room/${room.id}/close|}" method="POST">
            </form>
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex justify-center">
    <div class="max-w-2xl w-full bg-blue-50">
        <div class="w-full p-5 text">
            <div class="title">모임이름</div>
            <div class="font-gsans ml-2 w-1/2 h-12 flex items-center justify-center text-xl" th:text="${room.name}">서울 벙개</div>
        </div>

        <div class="place-rank">
            <div class="text-center m-2 text-xl">
                장소 투표
            </div>

            <div class="rank-1th flex justify-between p-5" th:each="map, iterStat : ${selectedPlaceMap}" th:if="${iterStat.first}">
                <span class="rank-n w-1/5 text-xl text-center text-bold">
                    <span th:text="${iterStat.index + 1}"></span>
                    <span>위</span>
                </span>
                <span class="w-2/5 text-center place text-xl" th:text="${map.key.name}"></span>
                <span class="people-number text-sm w-1/5">
                    <span th:text="${map.value}"></span>
                    <span>명 / </span>
                    <span th:text="${room.enterRoom.size()}"></span>
                    <span>명</span>
                </span>
                <form th:action th:method="POST" class="w-1/5">
                    <input type="hidden" name="name" th:value="${map.key.name}">
                    <button type="submit" class="vote-btn !bg-[#006bce]" th:disabled="${map.value + 1 > room.enterRoom.size()}">투표</button>
                </form>
            </div>

            <div class="rank-nth w-full justify-items-center mt-4">
                <div class="rank-content-other py-4" th:each="map, iterStat : ${selectedPlaceMap}" th:if="${!iterStat.first}">
                    <div class="rank-n text-bold">
                        <span th:text="${iterStat.index + 1}"></span>
                        <span>위</span>
                    </div>
                    <div class="date-n text-lg" th:text="${map.key.name}"></div>
                    <div class="people-number-n">
                        <span th:text="${map.value}"></span>
                        <span>명 / </span>
                        <span th:text="${room.enterRoom.size()}"></span>
                        <span>명</span>
                    </div>
                    <div>
                        <form th:action th:method="POST">
                            <input type="hidden" name="name" th:value="${map.key.name}">
                            <button type="submit" class="vote-btn !bg-[#006bce]" th:disabled="${map.value + 1 > room.enterRoom.size()}">투표</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form class="place-input" th:action th:method="post" onsubmit="return validateInputForm()">
            <div class="flex flex-nowrap">
                <input type="text" name="name" id="place-name" placeholder=" 원하는 장소 입력 후 장소 추가 버튼을 눌러주세요."/>
                <button class="add-place">추가</button>
            </div>
        </form>
    </div>
    <script>
        function validateInputForm() {
            var input = document.getElementById("place-name").value;
            if (input.trim() === "") {
                toastWarning("장소를 입력해주세요.");
            }
        }

        toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: true,
            progressBar: true,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function parseMsg(msg) {
            const [pureMsg, ttl] = msg.split(";ttl=");

            const currentJsUnixTimestamp = new Date().getTime();

            if (ttl && parseInt(ttl) + 5000 < currentJsUnixTimestamp) {
                return [pureMsg, false];
            }

            return [pureMsg, true];
        }

        function toastWarning(msg) {
            const [pureMsg, needToShow] = parseMsg(msg);

            if (needToShow) {
                toastr["warning"](pureMsg, "경고");
            }
        }

        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');

            console.log(message);

            if (message != null) {
                toastWarning(message);
            }
        })
    </script>
</main>

</body>

<footer layout:fragment="footer">
    <a th:href="@{|/room/${room.id}/date|}"><i class="far fa-thin fa-clock text-slate-300 hover:text-sky-600"></i></a>
    <a href=""><i class="far fa-solid fa-location-dot text-sky-600 "></i></a>
    <a th:href="@{|/room/${room.id}/chat|}"><i class="far fa-thin fa-comments text-slate-300 hover:text-sky-600"></i></a>
</footer>

</html>

