<ul th:fragment="times" class="flex flex-col items-center" id="times">
    <script th:inline="javascript">
        let path = window.location.pathname;
        let pathSegments = path.split('/');
        let roomId = pathSegments[pathSegments.length - 2];
        let times;
        let rank = 1;

        $(document).ready(()=>getSelectedTimes())

        function getSelectedTimes() {
            $.ajax({
                url: `selected-time`,
                type: 'get',
                contentType: 'application/json',
                success: function (response) {
                    rank = 1;
                    times = response;
                    $('#times').empty();
                    if (response.length === 0) {
                        $('#times').append(noTime());
                    } else {
                        response.forEach(time => showTimeInfo(time));
                    }
                },
                error: function (error) {
                    console.log(error);
                    console.log("시간 조회 실패");
                }
            });
        }

        function showTimeInfo(time) {
            $('#times').append(timeToHtml(time));
            rank++;
        }

        function timeToHtml(time) {
            let date = new Date(time.date);
            let year = date.getFullYear();
            let month = date.getMonth()+1;
            let day = date.getDate();

            let idx = rank-1;

            return `
            <li class="my-2 w-full">
                <a href="javascript:" onclick="showAllMembers(${idx});">
                    <div class="rank flex font-gsans hover:bg-slate-100 active:bg-slate-200">
                        <div class="p-3 shrink">
                            ${showRank(rank)}
                        </div>
                        <div class="flex flex-wrap">
                            <div class="rank-content flex flex-grow flex-wrap gap-1">
                            <div class="flex-grow">${year}년 ${month}월 ${day}일</div>
                            <div>${time.start.split(':').slice(0,2).join(':') + ' ~ ' + time.end.split(':').slice(0,2).join(':')}</div>
                        </div>
                    </div>
                    <div class="people-number text-center text-sm shrink">
                        ${time.participationMembers.length}/${time.participationMembers.length + time.nonParticipationMembers.length}
                    </div>
                    </div>
                </a>
            </li>
            `
        }

        function showRank(rank){
            if(rank === 1){
                return '<span class="rank-number text-bold text-xl" style="border: 6px solid #006bce; border-radius: 50%;">1위</span>';
            }
            return `<span class="rank-number text-bold text-lg" style="color: #006bce;">${rank}위</span>`;
        }

        function noTime() {
            return `<div id="no-time" class="w-full flex flex-col items-center justify-center mt-4 text-xl font-gsans">가능한 시간이 없습니다. 가능 시간을 수정해보세요.</div>`;
        }
    </script>
</ul>

