<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button onclick="location.href='/groups'">
                <i class="fas fa-thin fa-arrow-left fa-2xl ml-1"></i>
            </button>
        </div>
        <div class="navbar-center">
            <i class="fa-solid fa-location-dot fa-2xl" style="color: #1960ef;"></i>
            <span class="ml-2 text-xl">
          모임 참여
        </span>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full bg-blue-50">
        <div class="m-10 w-2xl flex flex-col items-center">
            <div class="w-full flex justify-center items-center">
                <span class="title w-18">모임 이름</span>
                <span class="content w-3/5 ml-4 text-center text-xl font-gsans" th:text="${room.name}">서울 벙개</span>
            </div>

            <div class="w-full mt-4">
                <div class="h-48 flex flex-col items-center justify-around p-2 border border-none rounded-lg bg-white">
                    <div>
                        <span id="roomStartDate" class="p-1 border border-none rounded-lg bg-slate-200" th:text="${room.availableStartDay}"></span>
                        <span>부터</span>
                        <span id="roomEndDate" class="p-1 border border-none rounded-lg bg-slate-200" th:text="${room.availableEndDay}"></span>
                        <span>사이의 날짜를 골라주세요.</span>
                    </div>

                    <div class="mt-2">
                        가능한 시간은
                        <span id="roomStartTime" class="p-1 border border-none rounded-lg bg-slate-200" th:text="${room.availableStartTime}"></span>
                        부터
                        <span id="roomEndTime" class="p-1 border border-none rounded-lg bg-slate-200" th:text="${room.availableEndTime}"></span>
                        사이에 가능합니다.
                    </div>

                    <div class="mt-2">
                        약속 시간은
                        <span id="roomMeetingDuration" th:text="${room.meetingDuration.getMinute() == 0 ? #temporals.format(room.meetingDuration, 'HH시간') : #temporals.format(room.meetingDuration, 'HH시간 mm분')}" class="p-1 border border-none rounded-lg bg-slate-200"></span>
                        입니다. 시간 범위에 맞게 지정해주세요.
                    </div>
                </div>
            </div>

            <div class="w-full mt-5">
                <span class="title">가능한 시간 선택</span>

                <!-- 가능시간 목록 -->
                <div class="shrink-0 border border-blue-400 rounded-lg divide-y divide-[#adcfee]" id="availableTimeList">
                    <!-- 이전에 선택했던 시간들 -->
                    <div name="availableTime" class="flex gap-1 p-2" th:each="availableTime:${selectedTimes}">
                        <div class="w-1/2 flex flex-col justify-start gap-2">
                            <span class="self-center text-center w-full border border-none rounded-lg bg-slate-200 p-1" style="font-family: GmarketSansMedium !important;">날짜</span>
                            <input required name="date" type="date" class="input input-bordered flex items-center self-center w-full" th:value="${availableTime.date}">
                        </div>

                        <div class="w-1/2 text-center flex flex-col justify-center items-stretch gap-1">
                            <div class="w-2/2 flex flex-wrap justify-end mb-2 gap-1">
                                <span class="self-center w-full border border-none rounded-lg bg-slate-200 p-1" style="font-family: GmarketSansMedium !important;">시작 시간</span>
                                <select required class="select w-full select-bordered select-sm time-30m-intervals text-center font-gsans" name="startTime" on>
                                    <option value="00:00" th:selected="${availableTime.startTime.toString() == '00:00'}">00:00</option>
                                    <option value="00:30" th:selected="${availableTime.startTime.toString() == '00:30'}">00:30</option>
                                    <option value="01:00" th:selected="${availableTime.startTime.toString() == '01:00'}">01:00</option>
                                    <option value="01:30" th:selected="${availableTime.startTime.toString() == '01:30'}">01:30</option>
                                    <option value="02:00" th:selected="${availableTime.startTime.toString() == '02:00'}">02:00</option>
                                    <option value="02:30" th:selected="${availableTime.startTime.toString() == '02:30'}">02:30</option>
                                    <option value="03:00" th:selected="${availableTime.startTime.toString() == '03:00'}">03:00</option>
                                    <option value="03:30" th:selected="${availableTime.startTime.toString() == '03:30'}">03:30</option>
                                    <option value="04:00" th:selected="${availableTime.startTime.toString() == '04:00'}">04:00</option>
                                    <option value="04:30" th:selected="${availableTime.startTime.toString() == '04:30'}">04:30</option>
                                    <option value="05:00" th:selected="${availableTime.startTime.toString() == '05:00'}">05:00</option>
                                    <option value="05:30" th:selected="${availableTime.startTime.toString() == '05:30'}">05:30</option>
                                    <option value="06:00" th:selected="${availableTime.startTime.toString() == '06:00'}">06:00</option>
                                    <option value="06:30" th:selected="${availableTime.startTime.toString() == '06:30'}">06:30</option>
                                    <option value="07:00" th:selected="${availableTime.startTime.toString() == '07:00'}">07:00</option>
                                    <option value="07:30" th:selected="${availableTime.startTime.toString() == '07:30'}">07:30</option>
                                    <option value="08:00" th:selected="${availableTime.startTime.toString() == '08:00'}">08:00</option>
                                    <option value="08:30" th:selected="${availableTime.startTime.toString() == '08:30'}">08:30</option>
                                    <option value="09:00" th:selected="${availableTime.startTime.toString() == '09:00'}">09:00</option>
                                    <option value="09:30" th:selected="${availableTime.startTime.toString() == '09:30'}">09:30</option>
                                    <option value="10:00" th:selected="${availableTime.startTime.toString() == '10:00'}">10:00</option>
                                    <option value="10:30" th:selected="${availableTime.startTime.toString() == '10:30'}">10:30</option>
                                    <option value="11:00" th:selected="${availableTime.startTime.toString() == '11:00'}">11:00</option>
                                    <option value="11:30" th:selected="${availableTime.startTime.toString() == '11:30'}">11:30</option>
                                    <option value="12:00" th:selected="${availableTime.startTime.toString() == '12:00'}">12:00</option>
                                    <option value="12:30" th:selected="${availableTime.startTime.toString() == '12:30'}">12:30</option>
                                    <option value="13:00" th:selected="${availableTime.startTime.toString() == '13:00'}">13:00</option>
                                    <option value="13:30" th:selected="${availableTime.startTime.toString() == '13:30'}">13:30</option>
                                    <option value="14:00" th:selected="${availableTime.startTime.toString() == '14:00'}">14:00</option>
                                    <option value="14:30" th:selected="${availableTime.startTime.toString() == '14:30'}">14:30</option>
                                    <option value="15:00" th:selected="${availableTime.startTime.toString() == '15:00'}">15:00</option>
                                    <option value="15:30" th:selected="${availableTime.startTime.toString() == '15:30'}">15:30</option>
                                    <option value="16:00" th:selected="${availableTime.startTime.toString() == '16:00'}">16:00</option>
                                    <option value="16:30" th:selected="${availableTime.startTime.toString() == '16:30'}">16:30</option>
                                    <option value="17:00" th:selected="${availableTime.startTime.toString() == '17:00'}">17:00</option>
                                    <option value="17:30" th:selected="${availableTime.startTime.toString() == '17:30'}">17:30</option>
                                    <option value="18:00" th:selected="${availableTime.startTime.toString() == '18:00'}">18:00</option>
                                    <option value="18:30" th:selected="${availableTime.startTime.toString() == '18:30'}">18:30</option>
                                    <option value="19:00" th:selected="${availableTime.startTime.toString() == '19:00'}">19:00</option>
                                    <option value="19:30" th:selected="${availableTime.startTime.toString() == '19:30'}">19:30</option>
                                    <option value="20:00" th:selected="${availableTime.startTime.toString() == '20:00'}">20:00</option>
                                    <option value="20:30" th:selected="${availableTime.startTime.toString() == '20:30'}">20:30</option>
                                    <option value="21:00" th:selected="${availableTime.startTime.toString() == '21:00'}">21:00</option>
                                    <option value="21:30" th:selected="${availableTime.startTime.toString() == '21:30'}">21:30</option>
                                    <option value="22:00" th:selected="${availableTime.startTime.toString() == '22:00'}">22:00</option>
                                    <option value="22:30" th:selected="${availableTime.startTime.toString() == '22:30'}">22:30</option>
                                    <option value="23:00" th:selected="${availableTime.startTime.toString() == '23:00'}">23:00</option>
                                    <option value="23:30" th:selected="${availableTime.startTime.toString() == '23:30'}">23:30</option>
                                </select>
                            </div>

                            <div class="w-2/2 flex flex-wrap justify-end gap-1">
                                <span class="self-center w-full border border-none rounded-lg bg-slate-200 p-1" style="font-family: GmarketSansMedium !important; ">끝나는 시간</span>
                                <select required class="select w-full select-bordered select-sm time-30m-intervals text-center font-gsans" name="endTime">
                                    <option value="00:00" th:selected="${availableTime.endTime.toString() == '00:00'}">00:00</option>
                                    <option value="00:30" th:selected="${availableTime.endTime.toString() == '00:30'}">00:30</option>
                                    <option value="01:00" th:selected="${availableTime.endTime.toString() == '01:00'}">01:00</option>
                                    <option value="01:30" th:selected="${availableTime.endTime.toString() == '01:30'}">01:30</option>
                                    <option value="02:00" th:selected="${availableTime.endTime.toString() == '02:00'}">02:00</option>
                                    <option value="02:30" th:selected="${availableTime.endTime.toString() == '02:30'}">02:30</option>
                                    <option value="03:00" th:selected="${availableTime.endTime.toString() == '03:00'}">03:00</option>
                                    <option value="03:30" th:selected="${availableTime.endTime.toString() == '03:30'}">03:30</option>
                                    <option value="04:00" th:selected="${availableTime.endTime.toString() == '04:00'}">04:00</option>
                                    <option value="04:30" th:selected="${availableTime.endTime.toString() == '04:30'}">04:30</option>
                                    <option value="05:00" th:selected="${availableTime.endTime.toString() == '05:00'}">05:00</option>
                                    <option value="05:30" th:selected="${availableTime.endTime.toString() == '05:30'}">05:30</option>
                                    <option value="06:00" th:selected="${availableTime.endTime.toString() == '06:00'}">06:00</option>
                                    <option value="06:30" th:selected="${availableTime.endTime.toString() == '06:30'}">06:30</option>
                                    <option value="07:00" th:selected="${availableTime.endTime.toString() == '07:00'}">07:00</option>
                                    <option value="07:30" th:selected="${availableTime.endTime.toString() == '07:30'}">07:30</option>
                                    <option value="08:00" th:selected="${availableTime.endTime.toString() == '08:00'}">08:00</option>
                                    <option value="08:30" th:selected="${availableTime.endTime.toString() == '08:30'}">08:30</option>
                                    <option value="09:00" th:selected="${availableTime.endTime.toString() == '09:00'}">09:00</option>
                                    <option value="09:30" th:selected="${availableTime.endTime.toString() == '09:30'}">09:30</option>
                                    <option value="10:00" th:selected="${availableTime.endTime.toString() == '10:00'}">10:00</option>
                                    <option value="10:30" th:selected="${availableTime.endTime.toString() == '10:30'}">10:30</option>
                                    <option value="11:00" th:selected="${availableTime.endTime.toString() == '11:00'}">11:00</option>
                                    <option value="11:30" th:selected="${availableTime.endTime.toString() == '11:30'}">11:30</option>
                                    <option value="12:00" th:selected="${availableTime.endTime.toString() == '12:00'}">12:00</option>
                                    <option value="12:30" th:selected="${availableTime.endTime.toString() == '12:30'}">12:30</option>
                                    <option value="13:00" th:selected="${availableTime.endTime.toString() == '13:00'}">13:00</option>
                                    <option value="13:30" th:selected="${availableTime.endTime.toString() == '13:30'}">13:30</option>
                                    <option value="14:00" th:selected="${availableTime.endTime.toString() == '14:00'}">14:00</option>
                                    <option value="14:30" th:selected="${availableTime.endTime.toString() == '14:30'}">14:30</option>
                                    <option value="15:00" th:selected="${availableTime.endTime.toString() == '15:00'}">15:00</option>
                                    <option value="15:30" th:selected="${availableTime.endTime.toString() == '15:30'}">15:30</option>
                                    <option value="16:00" th:selected="${availableTime.endTime.toString() == '16:00'}">16:00</option>
                                    <option value="16:30" th:selected="${availableTime.endTime.toString() == '16:30'}">16:30</option>
                                    <option value="17:00" th:selected="${availableTime.endTime.toString() == '17:00'}">17:00</option>
                                    <option value="17:30" th:selected="${availableTime.endTime.toString() == '17:30'}">17:30</option>
                                    <option value="18:00" th:selected="${availableTime.endTime.toString() == '18:00'}">18:00</option>
                                    <option value="18:30" th:selected="${availableTime.endTime.toString() == '18:30'}">18:30</option>
                                    <option value="19:00" th:selected="${availableTime.endTime.toString() == '19:00'}">19:00</option>
                                    <option value="19:30" th:selected="${availableTime.endTime.toString() == '19:30'}">19:30</option>
                                    <option value="20:00" th:selected="${availableTime.endTime.toString() == '20:00'}">20:00</option>
                                    <option value="20:30" th:selected="${availableTime.endTime.toString() == '20:30'}">20:30</option>
                                    <option value="21:00" th:selected="${availableTime.endTime.toString() == '21:00'}">21:00</option>
                                    <option value="21:30" th:selected="${availableTime.endTime.toString() == '21:30'}">21:30</option>
                                    <option value="22:00" th:selected="${availableTime.endTime.toString() == '22:00'}">22:00</option>
                                    <option value="22:30" th:selected="${availableTime.endTime.toString() == '22:30'}">22:30</option>
                                    <option value="23:00" th:selected="${availableTime.endTime.toString() == '23:00'}">23:00</option>
                                    <option value="23:30" th:selected="${availableTime.endTime.toString() == '23:30'}">23:30</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-end mr-4">
                    <button class="text-slate-400 mr-3" onclick="addNewTime();">+ 추가</button>
                    <button class="text-slate-400" onclick="removeNewTime();">- 삭제</button>
                </div>
            </div>

            <div class="text-center">
                <button class="room-btn mt-10" onclick="enter();">선택완료</button>
            </div>

        </div>
    </div>
    <script>
        function addNewTime() {
            $('#availableTimeList').append(`
            <div name="availableTime" class="flex gap-1 p-2">
                <div class="w-1/2 flex flex-col justify-start gap-2">
                    <span class="self-center text-center w-full border border-none rounded-lg bg-slate-200 p-1" style="font-family: GmarketSansMedium !important;">날짜</span>
                    <input required name="date" type="date" class="input input-bordered flex items-center self-center w-full">
                </div>

                <div class="w-1/2 flex flex-col justify-center items-stretch gap-1">
                    <div class="w-2/2 flex flex-wrap justify-end mb-2 gap-1">
                        <span class="self-center w-full border border-none rounded-lg bg-slate-200 p-1" style="font-family: GmarketSansMedium !important;">시작 시간</span>
                        <select required class="select w-full select-bordered select-sm time-30m-intervals text-center font-gsans" name="startTime">
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                        </select>
                    </div>

                    <div class="w-2/2 flex flex-wrap justify-end gap-1">
                      <span class="self-center w-full border border-none rounded-lg bg-slate-200 p-1" style="font-family: GmarketSansMedium !important; ">끝나는 시간</span>
                      <select required class="select w-full select-bordered select-sm time-30m-intervals text-center font-gsans" name="endTime">
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                        </select>
                    </div>
                </div>
            </div>
            `);
                // setTimeSelect();
            }

            function removeNewTime() {
                $('#availableTimeList').children().last().remove();
            }

            function checkRedundantTime(availableTimes) {
            let dateTimeMap = new Map();
            availableTimes.forEach(time => {
                if (dateTimeMap.has(time.date)) {
                    dateTimeMap.get(time.date).push({start:time.startTime, end: time.endTime});
                } else {
                    dateTimeMap.set(time.date, [{start:time.startTime, end: time.endTime}]);
                }
            });

            for (let [date, schedule] of dateTimeMap.entries()) {
                schedule.sort((a, b) => a.startTime - b.startTime);

                for (let i = 0; i < schedule.length - 1; i++) {
                    if (schedule[i].end === schedule[i + 1].start) {
                        toastWarning(`날짜 ${date} 일정 중 끝나는 시간과 시작하는 시간이 겹칩니다.`);
                        return true;
                    }
                    if (schedule[i].end > schedule[i + 1].start) {
                        toastWarning(`날짜 ${date}에 일정이 겹칩니다.`);
                        return true;
                    }
                }
            }
        }

        function validateDate(date) {
            if ($('#roomStartDate').html() > date) {
                toastWarning(`선택할 수 있는 날짜가 아닙니다. 선택한 날짜가 가능한 날짜보다 이릅니다.`);
                return false;
            }
            if ($('#roomEndDate').html() < date) {
                toastWarning(`선택할 수 있는 날짜가 아닙니다. 선택한 날짜가 가능한 날짜보다 늦습니다.`);
                return false;
            }
            return true;
        }

        function convertToMinutes(timeStr) {
            // 시간과 분을 구분해서 저장
            let splitTime = timeStr.split("시간");
            let hours = 0, minutes = 0;

            // "시간"이 포함되어 있다면, 이를 분으로 계산
            if (splitTime.length > 1) {
                hours = parseInt(splitTime[0], 10);
                // "분"이 포함되어 있다면, 이를 분으로 계산
                if (splitTime[1].includes("분")) {
                    minutes = parseInt(splitTime[1].split("분")[0].trim(), 10);
                }
            } else {
                // "시간"이 없고 "분"만 있는 경우
                if (timeStr.includes("분")) {
                    minutes = parseInt(timeStr.split("분")[0].trim(), 10);
                }
            }

            // 분 단위로 반환
            return hours * 60 + minutes;
        }

        function validateParticipantTime(start, end) {
            let endTime = new Date('1970-01-01T' + end);
            let startTime = new Date('1970-01-01T' + start);
            let roomStartTime = new Date('1970-01-01T' + $('#roomStartTime').html());
            let roomEndTime = new Date('1970-01-01T' + $('#roomEndTime').html());
            let meetingDurationInMinutes = convertToMinutes($('#roomMeetingDuration').html());

            if (startTime > endTime) {
                toastWarning(`시작하는 시간은 끝나는 시간보다 빠를 수 없습니다.`);
                return false;
            }
            if (roomStartTime > startTime) {
                toastWarning(`선택할 수 있는 시간이 아닙니다. 선택한 시간이 가능한 시간보다 이릅니다.`);
                return false;
            }
            if (roomEndTime < endTime) {
                toastWarning(`선택할 수 있는 시간이 아닙니다. 선택한 시간이 가능한 시간보다 늦습니다.`);
                return false;
            }
            // startTime과 endTime 사이의 시간 차이를 분으로 계산합니다
            let diffInMinutes = (endTime - startTime) / 1000 / 60;

            if (diffInMinutes < meetingDurationInMinutes) {
                toastWarning('선택할 수 있는 시간이 아닙니다. 미팅 진행 시간보다 짧은 시간입니다.');
                return false;
            }

            return true;
        }

        function enter() {
            let availableTimes = [];
            $('div[name=availableTime]').each(function () {
                const date = $(this).find('[name=date]').val();
                const startTime = $(this).find('[name=startTime]').val();
                const endTime = $(this).find('[name=endTime]').val();

                availableTimes.push({
                    date: date,
                    startTime: startTime,
                    endTime: endTime
                });
            });

            if (checkRedundantTime(availableTimes)) {
                return;
            }

            for (let availableTime of availableTimes) {
                if(!validateDate(availableTime.date)){
                    return;
                }
            }

            for (let availableTime of availableTimes) {
                if(!validateParticipantTime(availableTime.startTime, availableTime.endTime)){
                    return;
                }
            }

            /*<![CDATA[*/
            const csrfToken = `[[${_csrf.token}]]`;
            const csrfHeader = `[[${_csrf.headerName}]]`;
            /*]]>*/

            $.ajax({
                url: window.location.href,
                type: 'post',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                contentType: 'application/json',
                data: JSON.stringify(availableTimes),
                success: function (response) {
                    console.log(response);
                    window.location.href = response.redirectUrl;
                },
                error: function (error) {
                    console.log(error);
                    toastWarning("서버에의 요청에 문제가 생겼습니다");
                }
            });
        }

        function setTimeSelect() {
            for (var i = 0; i < 24; i++) {
                for (var j = 0; j <= 30; j += 30) {
                    var hour = i < 10 ? '0' + i : i;
                    var minute = j < 10 ? '0' + j : j;
                    $('.time-30m-intervals').append(new Option(hour + ':' + minute, hour + ':' + minute));
                }
            }
        }

        toastr.options = {
            closeButton: true,
            debug: false,
            newestOnTop: true,
            progressBar: true,
            positionClass: "toast-top-right",
            preventDuplicates: false,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };

        function parseMsg(msg) {
            const [pureMsg, ttl] = msg.split(";ttl=");

            const currentJsUnixTimestamp = new Date().getTime();

            if (ttl && parseInt(ttl) + 5000 < currentJsUnixTimestamp) {
                return [pureMsg, false];
            }

            return [pureMsg, true];
        }

        function toastWarning(msg) {
            const [pureMsg, needToShow] = parseMsg(msg);

            if (needToShow) {
                toastr["warning"](pureMsg, "경고");
            }
        }

        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');

            console.log(message);

            if (message != null) {
                toastWarning(message);
            }
        })
    </script>
</main>
<footer layout:fragment="footer" class="hidden"></footer>
</body>
</html>