<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <button>
                <i class="fas fa-thin fa-arrow-left fa-2xl ml-1"></i>
            </button>
        </div>
        <div class="navbar-center">
            <i class="fa-solid fa-location-dot fa-2xl" style="color: #1960ef;"></i>
            <span class="ml-2 text-xl">
          모임 참여
        </span>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full bg-blue-50">
        <div class="m-10">
            <div>
                <span class="title">모임 이름</span>
                <span class="font-gsans text-xl" th:text="${room.name}"></span>
            </div>

            <div class="mt-5">
                <span class="title">가능한 날짜 선택</span>
                <div class="text-center text-xl">
                    <div>
                        가능한 날짜는
                        <span class="font-gsans text-xl" th:text="${room.availableStartDay}"></span>
                        부터
                        <span class="font-gsans text-xl" th:text="${room.availableEndDay}"></span>
                        까지
                    </div>

                    <div>
                        가능한 시간은
                        <span class="font-gsans text-xl" th:text="${room.availableStartTime}"></span>
                        부터
                        <span class="font-gsans text-xl" th:text="${room.availableEndTime}"></span>
                        사이에 가능합니다.
                    </div>

                </div>
            </div>

            <div class="mt-5">
                <span class="title">가능한 시간 선택</span>

                <!-- 가능시간 목록 -->
                <div class="shrink-0 flex flex-col !border !border-[#adcfee] divide-y divide-[#adcfee]"
                     id="availableTimeList">

                </div>
                <button class="italic !text-slate-400" onclick="addNewTime();">+시간추가</button>
            </div>

            <div class="text-center">
                <button class="room-btn mt-16" onclick="enter();">선택완료</button>
            </div>

        </div>
    </div>
    <script>
        function addNewTime() {
            $('#availableTimeList').append(`
            <div name="availableTime" class="flex gap-2 p-2">

            <input required name="date" type="date" class="flex input input-bordered font-gsans w-1/3">

            <div class="flex-grow flex flex-col gap-2">
                <div class="flex justify-between">
                    <span class="text-left self-center" style="font-family: GmarketSansMedium !important;">시작 시간</span>
                    <select required class="select select-bordered select-sm time-30m-intervals w-3/5  text-center font-gsans"
                         name="startTime">

                    </select>
                </div>

                <div class="flex justify-between">
                    <span class="text-left self-center" style="font-family: GmarketSansMedium !important;">끝나는 시간</span>
                    <select required class="select select-bordered select-sm time-30m-intervals w-3/5 text-center font-gsans"
                         name="endTime">

                    </select>
                </div>
            </div>

            </div>
        `);
            setTimeSelect();
        }

        function checkRedundantTime(availableTimes) {
            let dateTimeMap = new Map();
            availableTimes.forEach(time => {
                if (dateTimeMap.has(time.date)) {
                    dateTimeMap.get(time.date).push({start:time.startTime, end: time.endTime});
                } else {
                    dateTimeMap.set(time.date, [{start:time.startTime, end: time.endTime}]);
                }
            });

            for (let [date, schedule] of dateTimeMap.entries()) {
                schedule.sort((a, b) => a.startTime - b.startTime);

                for (let i = 0; i < schedule.length - 1; i++) {
                    if (schedule[i].end > schedule[i + 1].start) {
                        alert(`날짜 ${date}에 일정이 겹칩니다.`);
                        return true;
                    }
                }
            }
        }

        function enter() {
            let availableTimes = [];
            $('div[name=availableTime]').each(function () {
                const date = $(this).find('[name=date]').val();
                const startTime = $(this).find('[name=startTime]').val();
                const endTime = $(this).find('[name=endTime]').val();

                availableTimes.push({
                    date: date,
                    startTime: startTime,
                    endTime: endTime
                });
            });

            if (checkRedundantTime(availableTimes)) {
                return;
            }
            /*<![CDATA[*/
            const csrfToken = `[[${_csrf.token}]]`;
            const csrfHeader = `[[${_csrf.headerName}]]`;
            /*]]>*/

            $.ajax({
                url: window.location.href,
                type: 'post',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                contentType: 'application/json',
                data: JSON.stringify(availableTimes),
                success: function (response) {
                    console.log(response);
                    window.location.href = response.redirectUrl;
                },
                error: function (error) {
                    console.log(error);
                    alert(error.responseJSON.message);
                }
            });
        }

        function setTimeSelect() {
            for (var i = 0; i < 24; i++) {
                for (var j = 0; j <= 30; j += 30) {
                    var hour = i < 10 ? '0' + i : i;
                    var minute = j < 10 ? '0' + j : j;
                    $('.time-30m-intervals').append(new Option(hour + ':' + minute, hour + ':' + minute));
                }
            }
        }
    </script>
</main>

</body>
</html>