<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
  <div class="navbar max-w-2xl mx-auto bg-base-100">
    <div class="navbar-start text-2xl font-gsans m-5">
      <a href="/" class="flex">
        <img width="35" src="https://img.icons8.com/external-flat-lima-studio/64/external-block-toys-flat-lima-studio-2.png" alt="external-block-toys-flat-lima-studio-2"/>
        <div class="ml-2 mt-1">MOIZA</div>
      </a>
    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-end">
    </div>
  </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
  <div class="max-w-2xl w-full flex justify-center mainsub-img">
    <div class="h-screen flex flex-col items-center justify-center">
      <div class="text-white text-5xl mb-3 text-shadow">MOIZA</div>
      <div class="font-gsans text-center text-white text-2xl" id="room-info" th:attr="data-id=${roomId}">
        <div>링크가 복사되었습니다.</div>
        <div>모임원들을 초대해보세요!</div>
        <button class="btn mt-3" onclick="copyPageLink()">링크 복사하기</button>
      </div>
    </div>
  </div>
  <script>
    toastr.options = {
      closeButton: true,
      debug: false,
      newestOnTop: true,
      progressBar: true,
      positionClass: "toast-top-right",
      preventDuplicates: false,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut"
    };

    $(document).ready(function() {
      // 페이지 로딩이 완료된 후 실행할 함수
      copyPageLink()
    });

    function copyPageLink() {
      let pageLink = "http://localhost:8080/room/"+ $('#room-info').data("id") +"/invite";
      navigator.clipboard.writeText(pageLink)
              .then(() => {
                toastWarning("링크가 복사되었습니다.");
              })
              .catch((error) => {
                console.error("링크 복사 실패:", error);
              });
    }

    function parseMsg(msg) {
      const [pureMsg, ttl] = msg.split(";ttl=");

      const currentJsUnixTimestamp = new Date().getTime();

      if (ttl && parseInt(ttl) + 5000 < currentJsUnixTimestamp) {
        return [pureMsg, false];
      }

      return [pureMsg, true];
    }

    function toastWarning(msg) {
      const [pureMsg, needToShow] = parseMsg(msg);

      if (needToShow) {
        toastr["warning"](pureMsg, "경고");
      }
    }
  </script>
</main>

<footer layout:fragment="footer" class="hidden"></footer>
</body>
</html>