<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full main-img" style="background-color: #006bce;">
        <div class="h-screen flex flex-col items-center justify-center">
            <div class="text-black text-4xl mb-3">MOIZA</div>
            <div class="w-full flex flex-col items-center">
                <div class="font-gsans">모임원들과 약속을 쉽게 정해보세요</div>
                <a href="/oauth2/authorization/kakao" class="btn btn-warning max-w-[40%] w-full h-11 shadow-md mt-3">카카오 계정으로 로그인<i class="fa-solid fa-comment ml-2"></i></a>
            </div>
        </div>
    </div>
</main>

</body>
</html>