<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>

<header layout:fragment="header" class="sticky top-0">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <a class="navbar-start text-2xl font-gsans m-5" href="/">
            <img width="35" src="https://img.icons8.com/external-flat-lima-studio/64/external-block-toys-flat-lima-studio-2.png" alt="external-block-toys-flat-lima-studio-2"/>
            <div class="ml-2 mt-1">MOIZA</div>
        </a>
        <div class="navbar-center">
        </div>
        <div class="navbar-end">
            <a href="/logout" class="text-gray-300 text-md mr-5 flex items-center justify-center">
                <i class="fa-solid fa-arrow-right-from-bracket mr-1"></i>
                로그아웃
            </a>
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex justify-center">
    <div class="max-w-2xl w-full flex justify-center">
        <div class="w-full flex flex-col items-center">

            <div class="w-3/4 h-22 flex items-center profile border border-2 border-slate-300 rounded-lg m-5 p-3">
                <div class="w-1/5 flex justify-end">
                    <img th:src="${@rq.member.profile}" width="65" class="mr-2 mask mask-circle">
                </div>

                <div class="w-2/5 ml-3">
                    <div class="text-xl sm:text-xl/4 md:text-xl/2 font-gsans font-bold" th:text="${@rq.member.name}"></div>
                    <div class="text-slate-300 text-sm sm:text-sm/4 md:text-sm/2 font-gsans" th:text="${@rq.member.email}"></div>
                </div>

                <div class="w-2/5 flex justify-end mr-2">
                    <a href="/room/create" class="btn btn-xs sm:btn-sm md:btn-md">+ 모임 생성</a>
                </div>

            </div>

            <div th:if="${#lists.isEmpty(rooms)}" class="w-full flex flex-col items-center justify-center mt-20 text-xl">
                모임을 생성해보세요.
            </div>

            <ul th:if="${!#lists.isEmpty(rooms)}" class="w-full flex flex-col items-center overflow-auto">
                <li th:each="room : ${rooms}" class="groups w-3/5 h-48 rounded-2xl mt-5 flex flex-col justify-center shadow-md text-white" style="background-color: #006BCE;">

                    <div th:if="${room.deadLine.isAfter(#temporals.createNow())}" class="h-full p-7 rounded-2xl">
                        <div class="h-1/5 mx-4 text-sm font-gsans">
                            <div th:if="${room.getLeader() == member}"  class="flex justify-between">
                                <span>내가 만든 모임</span>
                                <a href="javascript:" onclick="if(confirm('모임을 삭제하시겠습니까?')) $(this).next().submit();">X</a>
                                <form hidden th:action="@{|/${room.id}|}" method="POST">
                                    <input type="hidden" name="_method" value="delete">
                                </form>
                            </div>
                        </div>


                        <div class="h-4/5">
                            <div class="h-4/5 flex flex-col justify-center items-center">
                                <div th:onclick="|location.href='room/'+${room.id}+'/date'|"
                                     th:text="${room.name}" class="text-xl text-center hover:text-slate-300 active:text-slate-400 hover-pointer"></div>
                                <div th:if="${room.deadLine.isAfter(#temporals.createNow())}" class="text-sm text-center font-gsans">
                                    <span>마감 기한 : ~</span>
                                    <span th:text="${#temporals.format(room.deadLine, 'yyyy.MM.dd HH:mm')}">2023/06/02 24:00:00</span>
                                    <span>까지</span>
                                </div>
                            </div>

                            <div class="flex justify-end p-2">
                                <div class="text-sm font-gsans">
                                    <a th:href="@{'/invite?roomId='+${room.id}}" class="mr-2 hover:text-slate-300 active:text-slate-400">초대하기</a>
                                    <a th:href="@{'room/'+${room.id}+'/changeTime'}" class="hover:text-slate-300 active:text-slate-400">가능시간 수정</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:if="${room.deadLine.isBefore(#temporals.createNow())}" class="h-full p-7">
                        <div class="h-1/5 mx-4 text-sm font-gsans">
                            <div th:if="${room.getLeader() == member}"  class="flex justify-between">
                                <span>내가 만든 모임</span>
                                <a href="javascript:" onclick="if(confirm('모임을 삭제하시겠습니까?')) $(this).next().submit();">X</a>
                                <form hidden th:action="@{|/${room.id}|}" method="POST">
                                    <input type="hidden" name="_method" value="delete">
                                </form>
                            </div>
                        </div>


                        <div class="h-4/5">
                            <div class="h-4/5 flex flex-col justify-center items-center">
                                <div th:text="${room.name}" class="text-xl text-center"></div>
                            </div>

                            <div class="flex justify-end p-2">
                                <div class="text-sm font-gsans hover:text-slate-300 active:text-slate-400">
                                    <a th:href="@{'room/'+${room.id}+'/result'}">결과 확인</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</main>
</body>
</html>